* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #e3e6e6;
}

.navbar {
  height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .nav-logo {
    height: 50px;
    width: 100;
}

.logo {
    background-image: url("logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
 */
 h2 {
  cursor: pointer;
 }
 span {
  cursor: pointer;
 }
 p { 
  cursor: pointer;
 }

.navbar .nav-logo .logo img {
  width: 98px;
  margin-left: 19px;
  margin-top: 11px;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid #ffffff;
}

.nav-address {
  margin-left: 17px;
  border: 1.5px solid transparent;
}

.add-first {
  color: #cccccccc;
  font-size: 0.77rem;
  margin-left: 14px;
}

.add-sec {
  color: #ffffff;
  font-size: 0.875rem;
  margin-left: 3px;
  font-weight: 600;
}

.add-icons {
  display: flex;
  align-items: center;
}

.nav-address:hover {
  border: 1.5px solid #ffffff;
}

/* 3rd box */

.nav-search {
  display: flex;
  height: 40px;
  width: 620px;
  border-radius: 4px;
  justify-content: space-evenly;
  border: 3px solid transparent;
}

.nav-search:hover {
  border: 3px solid #febd69;
}

.search-select {
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.s-icon {
  width: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd69;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* box 4 */

.bd-en {
  border: 1.5px solid transparent;
}

.bd-en .flag {
  display: flex;
}

.bd-en .flag img {
  position: relative;
  right: 3px;
}

.bd-en .flag-select {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  font-weight: 800;
  color: white;
}

.bd-en:hover {
  border: 1.5px solid white;
}

/* box 5 */
.box-5 {
  border: 1.5px solid transparent;
}

.box-5:hover {
  border: 1.5px solid #ffffff;
}

.box-5 p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}

.box-5 .box-5-option {
  color: #ffffff;
  background: transparent;
  font-weight: 700;
  font-size: 14px;
  border: none;
}

/* box 5 */

.box-6 {
  border: 1.5px solid transparent;
}

.box-6:hover {
  border: 1.5px solid #ffffff;
}

.box-6 .box-6-p {
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
}

.box-6 .box-6-p2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}

/* last nav box  */

.last-nav-box-cart {
  color: #ffffff;
  border: 1.5px solid transparent;
}

.last-nav-box-cart:hover {
  border: 1.5px solid white;
}

.last-nav-box-cart i {
  font-size: 39px;
  position: relative;
  left: 7px;
}

.last-nav-box-cart span {
  font-weight: 600;
  font-size: 14px;
  position: relative;
  top: -4px;
}

/* body second part panel */
.second-panel {
  width: 100%;
  height: 39px;
  background-color: #232f3e;
}

.second-panel {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.second-panel .all-icon {
  border: 1.5px solid transparent;
  position: relative;
  left: 16px;
  top: 7px;
}

.second-panel .all-icon:hover {
  border: 1.5px solid #ffffff;
}

.second-panel span {
  font-weight: 700;
  font-size: 15px;
  position: relative;
  top: -3px;
}

.second-panel .all-icon i {
  font-size: 22px;
}

.second-panel .second-panel-a a {
  padding: 0 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  bottom: -10px;
  right: 781px;
}

.second-panel .second-panel-a .fis {
  border: 1.5px solid transparent;
}

.second-panel .second-panel-a .sec {
  border: 1.5px solid transparent;
}

.second-panel .second-panel-a .thr {
  border: 1.5px solid transparent;
}

.second-panel .second-panel-a .for {
  border: 1.5px solid transparent;
}

.second-panel .second-panel-a .fif {
  border: 1.5px solid transparent;
}

.second-panel .second-panel-a .fis:hover {
  border: 1.5px solid white;
}

.second-panel .second-panel-a .sec:hover {
  border: 1.5px solid white;
}

.second-panel .second-panel-a .thr:hover {
  border: 1.5px solid white;
}

.second-panel .second-panel-a .for:hover {
  border: 1.5px solid white;
}

.second-panel .second-panel-a .fif:hover {
  border: 1.5px solid white;
}

/* hero section */
.hero-section {
  background-image: url("hero.jpg");
  background-size: cover;
  height: 550px;
}

.shop-section {
  display: flex;
  background-color: transparent;
  justify-content: space-evenly;
  position: relative;
  top: -263px;
}

.shop-section .box1 .box1-h2 h2 {
  font-size: 27px;
  position: relative;
  left: 15px;
  top: 17px;
}

.shop-section .box {
  height: 400px;
  width: 22%;
  background-color: white;
}

.shop-section .box1 .sub1-gaming {
  display: flex;
}

.shop-section .box1 .sub1-gaming .sub-1-gaming img {
  width: 204px;
  position: relative;
  left: -38px;
  bottom: -29px;
}

.shop-section .box1 .sub1-gaming .sub-1-gaming p {
  position: relative;
  left: 35px;
  top: 29px;
}

.shop-section .box1 .sub1-gaming .sub-2-gaming img {
  width: 191px;
  position: relative;
  right: 77px;
  top: 28px;
}

.shop-section .box1 .sub1-gaming .sub-2-gaming p {
  position: relative;
  top: 36px;
  left: -12px;
}

.shop-section .box1 .sub2-gaming {
  display: flex;
  margin-top: 129px;
}

.shop-section .box1 .sub3-gaming .sub-3-gaming img {
  position: relative;
  top: 56px;
  right: -124px;
  width: 217px;
}

.shop-section .box1 .sub3-gaming .sub-3-gaming p {
  position: relative;
  left: 55px;
  bottom: -27px;
}

.shop-section .box1 .sub3-gaming .sub-4-gaming img {
  position: relative;
  right: 34px;
  width: 222px;
  bottom: 118px;
}

.shop-section .box1 .sub3-gaming .sub-4-gaming p {
  position: relative;
  top: -134px;
  right: -181px;
}

.box1 .gaming-see-more a {
  position: relative;
  bottom: 127px;
  right: -16px;
  text-decoration: navajowhite;
  color: #007185;
}

.box1 .gaming-see-more a:hover {
  text-decoration: underline;
  color: orange;
}

.shop-section .box2 .box-2-text-h2 h2 {
  font-size: 27px;
  position: relative;
  left: 15px;
  top: 17px;
}

.shop-section .box2 .box2-img img {
  width: 260px;
  height: 303px;
  position: relative;
  left: 22px;
  top: 25px;
}

.box2 .box2-see-more a {
  position: relative;
  bottom: -33px;
  right: -16px;
  text-decoration: none;
  color: #007185;
}

.box2 .box2-see-more a:hover {
  text-decoration: underline;
  color: orange;
}

.box3 .box-2-text-h2 h2 {
  font-size: 27px;
  position: relative;
  left: 15px;
  top: 17px;
}

.box3 .box3-img img {
  width: 296px;
  height: 303px;
  position: relative;
  left: 4px;
  top: 25px;
}

.box3 .box3-see-more a {
  position: relative;
  bottom: -34px;
  right: -14px;
  text-decoration: none;
  color: #007185;
}

.box3 .box3-see-more a:hover {
  text-decoration: underline;
  color: orange;
}

.shop-section .box4 {
  height: 150px;
}

.shop-section .box4 .box4-p {
  font-size: 25px;
  margin-left: 26px;
  margin-top: 23px;
  font-weight: 700;
}

.shop-section .box4 .box4-button button {
  position: relative;
  left: 16px;
  bottom: -22px;
  width: 274px;
  height: 34px;
  border-radius: 9px;
  background: #ffd814;
  border: none;
}

.shop-section .box4 .box4-button button a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.shop-section .box4 .box4-button button:hover {
  background-color: #bfa522;
}

.adver img {
  position: relative;
  left: 1021px;
  bottom: 510px;
  width: 298px;
}

.shop-section-2 {
  display: flex;
  background-color: transparent;
  justify-content: space-evenly;
  position: relative;
  top: -263px;
}

.shop-section-2 .boxx {
  height: 400px;
  width: 22%;
  background-color: white;
  position: relative;
  top: -209px;
}


/* shop section 2 */

.shop-section-2 .box5 h2 {
  font-size: 23px;
  margin-top: 13px;
  margin-left: 5px;
}

.shop-section-2 .box5 img {
  position: relative;
  width: 277px;
  height: 290px;
  left: 11px;
  bottom: -19px;
}

.shop-section-2 .box5 a {
  position: relative;
  bottom: -34px;
  right: -14px;
  text-decoration: none;
  color: #007185;
}

.shop-section-2 .box5 a:hover {
  text-decoration: underline;
  color: orange;
}

.shop-section-2 .box6 h2 {
  font-size: 23px;
  margin-top: 13px;
  margin-left: 5px;
}

.shop-section-2 .box6 img {
  position: relative;
  width: 277px;
  height: 290px;
  left: 11px;
  bottom: -19px;
}

.shop-section-2 .box6 a {
  position: relative;
  bottom: -34px;
  right: -14px;
  text-decoration: none;
  color: #007185;
}

.shop-section-2 .box6 a:hover {
  text-decoration: underline;
  color: orange;
}


.shop-section-2 .box7 h2 {
  font-size: 23px;
  margin-top: 13px;
  margin-left: 5px;
}

.shop-section-2 .box7 img {
  position: relative;
  width: 277px;
  height: 290px;
  left: 11px;
  bottom: -19px;
}

.shop-section-2 .box7 a {
  position: relative;
  bottom: -34px;
  right: -14px;
  text-decoration: none;
  color: #007185;
}

.shop-section-2 .box7 a:hover {
  text-decoration: underline;
  color: orange;
}

.shop-section-2 .box7 .info {
  position: relative;
  top: -21px;
  left: 10px;
  font-size: 14px;
}

.shop-section-2 .box7 .info .fir {
  background: #cc0c39;
  color: white;
  font-size: 16px;
}

.shop-section-2 .box7 .info .sec {
  color: red;
  font-size: 15px;
  font-weight: 600;
}

.shop-section-2 .box7 .info p {
  font-size: 14px;
  position: relative;
  bottom: -3px;
  color: black;
}

.shop-section-2 .box8 h2 {
  font-size: 23px;
  margin-top: 13px;
  margin-left: 5px;
}

.shop-section-2 .box8 img {
  position: relative;
  width: 277px;
  height: 290px;
  left: 11px;
  bottom: -19px;
}

.shop-section-2 .box8 a {
  position: relative;
  bottom: -34px;
  right: -14px;
  text-decoration: none;
  color: #007185;
}

.shop-section-2 .box8 a:hover {
  text-decoration: underline;
  color: orange;
}